
node_modules
node/node_modules
temp.txt

samples/5m.txt
samples/10m.txt
samples/20m.txt
samples/40m.txt
samples/60m.txt

out

# Directories
**/.vs/
**/bin/
!vendor/premake/bin/
**/bin-int/
**/peda-session*

# Files
*.user
**/*.TMP
**/*.xcodeproj
**/*.xcworkspace

**/.DS_Store


#MSVC
**/*.sln
**/*.vcxproj
**/*.vcxproj.user
**/*.vcxproj.filters

#make
**/Makefile
**/.project
**/.workspace
**/Makefile
**/*.make

**/.gdb_history

#Eclipse
**/.cproject
.settings/
