
node/node_modules
temp.txt

20m.txt
60m.txt
100m.txt

# Directories
**/.vs/
**/bin/
!vendor/bin/
**/bin-int/
**/peda-session*

# Files
*.user
**/*.TMP
**/*.xcodeproj
**/*.xcworkspace

**/.DS_Store


#MSVC
**/*.sln
**/*.vcxproj
**/*.vcxproj.user
**/*.vcxproj.filters

#make
**/Makefile
**/.project
**/.workspace
**/Makefile
**/*.make

**/.gdb_history

#Eclipse
**/.cproject
.settings/
